@import './base.css';

#app {
  min-height: 100dvh;
}

.flex-al-center {
  display: flex;
  align-items: center;
}

.flex-jus-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  border: 2px solid rgb(214, 133, 26);
}

p {
  color: var(--gray-500);
  font-size: var(--fs-400);
}

.primary-btn {
  background-color: var(--blue-400);
  width: auto;
  padding-inline: var(--spacing-200);
  padding-block: 0.5rem;
  border-radius: 24px;
  color: var(--white);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

@media (hover: hover) {
  .primary-btn:hover {
    background-color: var(--blue-400-o);
  }
}

@media (min-width: 1024px) {
}
